@import './__item/video__item.css';
@import './__link/video__link.css';
@import './__placeholder/video__placeholder.css';
@import './__overlay/video__overlay.css';
@import './__icon/video__icon.css';
@import './__description/video__description.css';
@import './__duration/video__duration.css';
@import './__title/video__title.css';
@import './__subtitle/video__subtitle.css';

.video {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 16px;
	
}
@media screen and (min-width: 768px) {
	.video {
		grid-template-columns: 1fr 1fr;
		grid-gap: 18px;
	}
}