@import './__link/photo-grid__link.css';
@import './__img/photo-grid__img.css';

.photo-grid {
	display: grid;
	grid-template-columns: 1fr;
	-webkit-column-gap: 8px;
	-moz-column-gap: 8px;
	column-gap: 8px;
	row-gap: 8px;
}
@media (min-width: 375px) {
	.photo-grid {
		-webkit-column-gap: 16px;
		-moz-column-gap: 16px;
		column-gap: 16px;
		row-gap: 16px;
	}
}
@media only screen and (min-width: 425px) {
	.photo-grid {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (min-width: 1024px) {
	.photo-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}

}
@media only screen and (min-width: 1280px) {
	.photo-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}