.places__url {
	align-self: end;
	display: none;
}
.places__url dt {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.2em;
	color:#AAA;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.places__url dd {
	font-size: 18px;
	line-height: 1.5;
}
@media screen and (min-width: 768px) {
	.places__url {
		display: block;
	}
}