.header {
	margin: 16px 16px 55px;
	display: flex;
	align-items: center;
}
@media screen and (min-width: 768px) {
	.header {
		margin: 30px 24px 55px;
	}
}
@media screen and (min-width: 1024px) {
	.header {
		margin: 30px 48px 55px;
	}
}
