.title_size_m {
	font-weight: 900;
	font-size: 32px;
	line-height: 1.095;
	max-width: 800px;
	margin-top: 0;
	margin-bottom:.55em;
}

@media only screen and (min-width: 768px) {
	.title_size_m {
		font-size: 42px;
	}
}
@media only screen and (min-width: 1024px) {
	.title_size_m {
		font-size: 72px;
		/*line-height: 0.902;*/
		line-height: 1.08;
	}
}