.comment__username {
	font-weight: 900;
	font-size: 14px;
	line-height: 22px;
	order:2;
	text-align: center;
	margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
	.comment__username {
		order:3;
		text-align: left;
		margin-bottom: 0;
	}
}