.section_image-width_full {
	margin-left:-16px;
	margin-right:-16px;
}
.section_image-width_full .image__caption {
	margin-left:16px;
	margin-right:16px;
}
@media screen and (min-width: 768px) {
	.section_image-width_full {
		margin-left:-24px;
		margin-right:-24px;
	}
	.section_image-width_full .image__caption {
		margin-left:24px;
		margin-right:24px;
	}
}
@media screen and (min-width: 1024px) {
	.section_image-width_full {
		margin-left:auto;
		margin-right:auto;
	}
	.section_image-width_full .image__caption {
		margin-left:0;
		margin-right:0;
	}
}
