.video__duration {
	display: block;
	font-weight: 500;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 0.3em;
	margin-bottom: 8px;
}
@media screen and (min-width: 1024px) {
	.video__duration {
		margin-bottom: 12px;
	}
}