@import './__title/section__title.css';
@import './__desc/section__desc.css';
@import './_content-width_narrow/section_content-width_narrow.css';
@import './_image-width_full//section_image-width_full.css';

.section {
	margin: 0 16px 64px;
}
@media screen and (min-width: 768px) {
	.section {
		margin: 0 24px 95px;
	}
}
@media screen and (min-width: 1024px) {
	.section {
		margin-left: 48px;
		margin-right: 48px;
	}
}
